:host {
  margin-top: auto;
//   display: block;
  background-color: var(--color-secondary);
  color: white;
  padding: 1.2rem;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 300;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.05);
}
