:root {
  --color-primary: #4F46E5;
  --color-secondary: #6366F1;
  --color-accent: #F59E0B;
  --color-background: #F3F4F6;
  --color-card: #FFFFFF;
  --color-border: #E5E7EB;
  --color-text-primary: #111827;
  --color-text-secondary: #6B7280;
}

@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  height: 100%;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
  font-family: 'Poppins', sans-serif;
  height: 100%;
}
